[submodule "lib/Pymacs"]
	path = lib/Pymacs
	url = https://github.com/pinard/Pymacs.git
[submodule "lib/python-mode"]
	path = lib/python-mode
	url = https://git.launchpad.net/python-mode
[submodule "lib/styleguide"]
	path = lib/styleguide
	url = git@github.com:google/styleguide.git
[submodule "lib/elpy"]
	path = lib/elpy
	url = git@github.com:jorgenschaefer/elpy.git
